:root {
    --van-nav-bar-icon-color: white;
    --van-nav-bar-arrow-size: 20px;
    --van-nav-bar-background-color: var(--custom-primary-color);
    --van-nav-bar-text-color: white;
    --van-nav-bar-title-text-color: white;

}