:root {
    --van-sidebar-active-color: var(--custom-primary-color);
    --van-sidebar-selected-border-color: var(--custom-primary-color);
    --van-sidebar-selected-border-height: 90%;
    --van-sidebar-background-color: #ffffff;
    --van-sidebar-selected-background-color: #f8f8f8
}